h1 {
  text-align: center;
}
form {
  text-align: center;
}
#rules {
  text-align: center;
  background-color: bisque;
}
#logout {
  text-align: center;
}
.floatleft {
  padding-left: 10%;
  float: left;
}
.alignright {
  padding-right: 10%;
  text-align: right;
}
